<div class="container-fluid text-center">
	<div id="title-container">
		<h1>Add a word</h1>
	</div>
</div>

<div class="container text-center">
	<div id="intro-container">

		<form action="/words" method="post" class="form">
			<div class="form-group">
				<label for="text">Enter your word here: </label>
				<input type="text" name="text">
			</div>
				<input type="submit" class="btn">
		</form>
	</div>
</div>