<div class="container-fluid text-center">
	<div id="title-container">
		<h1>Anagrams</h1>
	</div>
</div>

<div class="container text-center">
	<div id="intro-container">
		<form action="/" method="post" class="form">
			<div class="form-group">
				<label for="word">Enter a three-letter word: </label>
				<input type="text" name="word">
			</div>
				<input type="submit" class="btn">
		</form>
	</div>
</div>