<!DOCTYPE html> <html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<head>
  <meta charset="utf-8">
  <title>Anagrams Generator</title>
</head>
  <body>
    <div class="container">
          <%= yield %>
      </div>
      
      <div class="container">
	      <a href="https://emily-chapman-anagrams-app.herokuapp.com/">Home</a>
      </div>
  </body>
</html>