<!DOCTYPE html> <html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<head>
  <meta charset="utf-8">
  <title>Anagrams Generator</title>
</head>
  <body>
    <div class="container">
          <%= yield %>
      </div>
      
      <div class="well">
	      <a href="/">Home</a> | <a href="/words">View our dictionary</a> | <a href="/words/new">Add a new word</a>
      </div>
      


  </body>
</html>