<div class="container-fluid text-center">
	<div id="title-container">
		<h1>Anagrams for "<%= "#{@word}" %>"</h1>
	</div>
</div>

<div class="container-fluid text-center">
		<table class="table table-striped">
				<% @anagrams.each do |anagram| %>
					<% if anagram.text == @word %>
					<% else %>
						<tr><td> <%= anagram.text %> </td></tr>
					<% end %>
				<% end %>
		</table>
</div>